@import './global-variables.scss';

.footer {
  .security-standards {
    display: flex;
    justify-content: center;
    background-color: rgb(34, 34, 34);

    &-wrapper {
      width: calc(100% - 32px);
      height: 63.4px;
      color: rgb(141, 141, 149);
      @include flex-center;

      span {
        margin-right: 10px;
      }
    }
  }

  .contacts {
    background-color: rgb(18, 18, 18);
    height: 626px;
    padding: 50px 56px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;


    .uni-dot {
      max-width: 1240px;
      width: calc(100% - 1px);
      height: 90px;
    }

    .address {
      color: rgb(141, 141, 149);
      word-wrap: break-word;
      max-width: 1240px;
      width: calc(100% - 1px);

      a {
        color: rgb(141, 141, 149);
        text-decoration: none;
      }
    }

    .grievances {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .border {
        height: 1px;
        max-width: 1240px;
        width: calc(100% - 1px);

        &.top {
          margin-top: 32px;
          background-color: #D9D9D9;
          margin-bottom: 16px;
        }

        &.bottom {
          background: linear-gradient(90deg, #00dcc8 26.31%, #00dcc8 61.59%, #fff061 74.32%, #fff061 85.31%);
          transform: matrix(1, 0, 0, -1, 0, 0);
          margin-top: 16px;
          margin-bottom: 32px;
        }

      }

      a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        max-width: 1240px;
        width: calc(100% - 1px);

        span {
          text-decoration: underline !important;
        }
      }
    }

    .wrapper {
      display: flex;
      justify-content: space-between;
      max-width: 1240px;
      width: calc(100% - 1px);

      a {
        text-decoration: none;
        color: white;
      }

      .social-media-item {
        padding: 0 18px;
      }

      .credit-cards {
        display: flex;

        .credit-card-item {
          display: flex;

          .separator {
            padding: 0 8px;
          }
        }
      }
    }
  }
}


@media (max-width: 767px) {
  .footer .contacts {
    padding-left: unset;
    padding-right: unset;

    .uni-dot,
    .address,
    .grievances,
    .uni-dot,
    .wrapper {
      max-width: 1240px;
      width: calc(100% - 40px);
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .social-media {
        margin-bottom: -28px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &-item {
          margin-bottom: 25px;
        }
      }

      .credit-cards {
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
          margin-bottom: 10px;
        }
      }
    }
  }
}